nlg/isd-publications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="publications">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="publication" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="title" type="xsd:string"/>
							<xsd:element name="url" minOccurs="0" type="xsd:uriReference"/>
							<xsd:element name="person" type="xsd:string" maxOccurs="unbounded"/>
							<xsd:element name="project">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Inspect"/>
										<xsd:enumeration value="Rosetta"/>
										<xsd:enumeration value="Temple"/>
										<xsd:enumeration value="Trellis"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
