Extra/xsdfiles/isd-personnel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
	<xsd:element name="personnel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="person" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="userid" type="xsd:string"/>
							<xsd:element name="name" type="xsd:string"/>
							<xsd:element name="project" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Inspect"/>
										<xsd:enumeration value="Kasper"/>
										<xsd:enumeration value="Phosphorus"/>
										<xsd:enumeration value="Rosetta"/>
										<xsd:enumeration value="Temple"/>
										<xsd:enumeration value="Trellis"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
